nav {
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logos {
    display: flex;
    align-items: center;
    background: var(--gradient-nav);
}

.logos-main {
    height: 25px;
    margin-right: 36px;
}

.logos-secondary {
    height: 15px;
    margin-right: 16px;
}

nav .main {
    display: flex;
    align-items: center;
    margin-right: 36px;
    background: rgba(255, 255, 255, 1);
}

.nav-heading {
    flex: 1;
}

.nav-heading a {
    text-decoration: none;
}

.nav-heading_text {
    color: var(--color-grey-dark);
}

