:root {
    --color-black: #000;
    --color-grey: #666666;
    --color-grey-light: #E0E0E0;
    --color-grey-x-light: #F5F5F5;
    --color-blue: #01579B;
    --color-red: #EF4740;

    --gradient-bkg: linear-gradient(45deg, rgba(92, 68, 135, 0.05) 0%, rgba(72, 136, 175, 0.05) 35.59%, rgba(82, 182, 160, 0.05) 100%);
    --box-shadow: 0 6px 29px 0 #0000000a;

    --font-body-size: 16px;
    --font-body-weight: 500;
    --font-body-weight-bold: 700;
}

/* Typography */
.font-label {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grey);
}

.font-body {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.font-body-italic {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    font-style: italic;
}

.font-body-bold {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight-bold);
}

.button-icon .material-symbols-outlined {
    margin-right: 7px;
}