:root {
    --color-black: #000;
    --color-grey-dark: #4F4F4F;
    --color-grey: #666666;
    --color-grey-light: #E0E0E0;
    --color-grey-x-light: #F5F5F5;
    --color-blue: #01579B;
    --color-blue-dark: #012847;
    --color-red: #EF4740;

    --gradient-bkg: linear-gradient(45deg, rgba(92, 68, 135, 0.05) 0%, rgba(72, 136, 175, 0.05) 35.59%, rgba(82, 182, 160, 0.05) 100%);
    --gradient-bkg-dark: linear-gradient(45deg, rgba(92, 68, 135, 0.5) 0%, rgba(72, 136, 175, 0.5) 35.59%, rgba(82, 182, 160, 0.5) 100%);
    --box-shadow: 0 6px 29px 0 #0000000a;

    --font-body-size: 16px;
    --font-body-weight: 500;
    --font-body-weight-bold: 700;
    --font-label-size: 12px;
    --font-label-weight: 400;
    --font-title-size: 18px;
    --font-title-weight: 600;
    --font-heading-size: 24px;
    --font-heading-weight: 700;
    --font-page-heading-size: 36px;
    --font-page-heading-weight: 700;
    --font-page-heading-light-weight: 500;
}

/* Typography */
.font-label {
    font-size: var(--font-label-size);
    font-weight: var(--font-label-weight);
    color: var(--color-grey);
}

.font-label-bold {
    font-size: var(--font-label-size);
    font-weight: 700;
}

.font-body {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.font-body-bold {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight-bold);
}

.font-title {
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
}

.font-heading {
    font-size: var(--font-heading-size);
    font-weight: var(--font-heading-weight);
}

.font-page-heading {
    font-size: var(--font-page-heading-size);
    font-weight: var(--font-page-heading-weight);
}

.font-page-heading-light {
    font-size: var(--font-page-heading-size);
    font-weight: var(--font-page-heading-light-weight);
}

.italic {
    font-style: italic;
}

.page-padding {
    padding: 12px 40px;
}

/* MUI Orverides */
.button-icon .material-symbols-outlined {
    margin-right: 7px;
}

.MuiAccordionSummary-root {
    flex-direction: row-reverse;
}

.MuiOutlinedInput-notchedOutline > legend > span {
    /* override because line wasn't working correctly */
    padding-left: 0;
    padding-right: 0;
}

.MuiAccordion-root  .MuiAccordionSummary-root {
    padding: 0;
}

.MuiAccordion-root  .MuiAccordionSummary-root .MuiAccordionSummary-content {
    margin: 0;
}

#root .MuiButton-root {
    border-radius: 20px;
}