.home {
    height: 100%;
}

.home-search {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.home-search-input {
    max-width: 400px;
}

.home-search_results {
    margin: 5px 10px;
    color: var(--color-grey);
}

.home-search_results[data-show="false"] {
    visibility: hidden;
}